<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div ng-app="app">
    <div ng-controller="myCtrl">
      <input type="text" ng-model="name">
      <label class="btn btn-primary" uib-btn-checkbox ng-model="name">Left</label>
    </div>
    <home></home>
    <div ng-controller="defaultCtrl">
      <div class="panel-heading">
        <h3>Products</h3>
      </div>
      <div class="panel-body">
        <div unordered-list='products' list-property="price | currency"></div>
      </div>
    </div>
  </div>
</body>

</html>